version: '3.4'

services:
    app:
        build:
            context: .
            dockerfile: docker/app/Dockerfile
        image: ${CONTAINER_REGISTRY_URL}/app:dev
        volumes:
            - .:/srv/api:rw,cached
            # If you develop on Linux, comment out the following volumes to just use bind-mounted project directory from host
            # - ./var:/srv/api/var:rw

    cache-proxy:
        ports:
            - 8082:80
    db:
        ports:
            - 5432:5432
    nginx-backend:
        volumes:
            - ./public:/srv/api/public:ro
